* {
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	
	transition:all 0.5s;
}

.below-border {
	border-bottom:1px solid grey;
}

.above-border {
	border-top:1px solid grey;
}
.yellow {
	backgroud-color:orange;
}

.col-sm-3 {
	margin-bottom:5em;
}

label {
	color:white;
}

.navbar-brand {
	font-size:1.5vw;
	color:white;
}

.navbar-custom {
	background-color:#000;
}
.margintop {
	margin-top:8px;
}